.custom-navbar {
	background-color: #192e4d !important;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
	color: #f8f9fa !important;
	font-size: 1.7rem;
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

.custom-navbar .nav-link:hover {
	color: #ced4da !important;
}

.navbar-logo {
	height: 45px;
	width: auto;
}
