.mission-text-header {
	font-size: 50px;
}

.mission-text-paragraph {
	font-size: 30px;
}

.secondary-background {
	background-color: #434242;
}

.third-background {
	background-color: #000000;
}

.forth-background {
	background-color: #fff;
}
